@model IEnumerable<DotNetMongoCRUDApp.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h1 class="my-4">@ViewData["Title"]</h1>

<p>
    <a href="/Product/Create" class="btn btn-primary">Create New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@item.Price.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</td>
            <td>@Html.DisplayFor(modelItem => item.Category)</td>
            <td>
                <a href="/Product/Edit/@item.Id" class="btn btn-warning">Edit</a> |
                <a href="/Product/Delete/@item.Id" class="btn btn-danger">Delete</a> |
                <a href="/Product/Details/@item.Id" class="btn btn-info">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>

